:root {
    --green: #5ed68a;
    --red: #1ea6c8;
    --background: #fafafa;
    --gradient-1: #343e63;
    --gradient-2: #2a3352;
    --roxo:  #0AFF85;
  }
  
  html {
    font-size: 12px;
    font-weight: 300;
  }
  
  body {
    width: 90vw;
    margin: 0 auto;
    background: radial-gradient(var(--gradient1), var(--gradient2));
    padding: 4rem;
  }
  
  main {
    text-align: center;
    background: var(--background);
    border: solid var(--roxo);
    border-width: 8px 8px 8px 8px;
    min-height: 40vh;
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 4rem;
    color: #1f2933;
  }
  
  h2 {
    font-size: 2.3rem;
    margin: 2rem 2rem 2rem 2rem;
    text-transform: uppercase;
  }
  
  p {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600; 
  }

  .button-wrapper {
    display: flex;
    flex-direction: column;
  }
    
  button {
    border: none;
    cursor: pointer;
    background: var(--green);
    padding: 2rem 6rem;
    border-radius: 1rem 1rem 0 0;
    font-size: 1.4rem;
  }

  .btn{
    font-size: 2em; 
    border-radius: 8px !important;
  }

  #guesses, #attempts{
    color: #ff0000;
    font-size: 1.8em;
  }

input[type="number"]{
   border-color: #0AFF85;
  }

  #newGameButton{
    border-radius: 8px;
  }
  
  button:last-child {
    background: var(--roxo);
    border-radius: 0 0 1rem 1rem;
    color: #000;
    font-weight: 600;
  }

  /* game screen */
  
  h3 {
    font-size: 1.7rem;
    text-transform: uppercase;
  }
  
  input {
    border: 2px solid lightgray;
    background: transparent;
    margin: 2rem 0;
    padding: 1rem 0;
    width: 25rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 7px;
  }

  .stats {
    text-align: left;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .info span {
    font-size: 1.6rem;
  }

  #newGameButton {
    border-radius: 0;
  }
  
  @media (min-width: 800px) {
    body {
      width: 60vw;
    }
  }